fastapi==0.118.0
uvicorn==0.37.0
pydantic==2.11.9
pydantic-settings==2.11.0
python-dotenv==1.1.1
starlette==0.48.0
anyio==4.10.0
h11==0.16.0
python-multipart==0.0.20
email-validator==2.3.0
SQLAlchemy==2.0.43
passlib==1.7.4
bcrypt==3.2.2
python-jose==3.5.0
requests==2.32.5
httpx==0.28.1
uvloop==0.21.0
watchfiles==1.1.1
