annotated-types==0.7.0
anyio==4.10.0
appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
async-timeout==4.0.3
asyncpg==0.30.0
attrs==25.3.0
autogen-agentchat==0.7.4
autogen-core==0.7.4
babel==2.17.0
bcrypt==3.2.2
beautifulsoup4==4.10.0
beniget==0.4.1
bleach==6.2.0
blinker==1.4
brainfk==0.0.2
Brlapi==0.8.3
Brotli==1.0.9
certifi==2025.8.3
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.3
cliapp==1.20180812.1
click==8.3.0
cmdtest==0.32+git
colorama==0.4.4
comm==0.2.3
command-not-found==0.3
configobj==5.0.6
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.8.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
distro==1.9.0
django-environ==0.12.0
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
exceptiongroup==1.3.0
executing==2.2.0
eyeD3==0.8.10
fake-useragent==2.2.0
fastapi==0.118.0
fastjsonschema==2.21.2
filelock==3.6.0
fonttools==4.29.1
fqdn==1.5.1
fs==2.4.12
gast==0.5.2
gbinder-python==1.1.2
GDAL==3.4.1
git-filter-repo==2.47.0
gpg==1.16.0
greenlet==3.2.4
grpcio==1.30.2
gyp==0.1
h11==0.16.0
hererocks==0.25.1
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httptools==0.7.1
httpx==0.28.1
idna==3.10
ifaddr==0.1.7
IMDbPY==2021.4.18
importlib_metadata==8.7.0
inquirerpy==0.3.4
IPy==1.1
ipykernel==6.30.1
ipython==8.37.0
isoduration==20.11.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.10.0
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==23.5.0
kiwisolver==1.3.2
langchain==0.3.27
langchain-core==0.3.78
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
langsmith==0.4.32
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
LibAppArmor==3.0.4
libcomps==0.1.15
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.7
mercurial==6.1.1
meson==0.61.2
mistune==3.1.4
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.3
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nemo-emblems==5.8.0
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
notebook_shim==0.2.4
numpy==1.21.5
oauthlib==3.2.0
onboard==1.4.1
openai==1.107.2
opentelemetry-api==1.36.0
orjson==3.11.3
overrides==7.7.0
packaging==25.0
PAM==0.4.2
pandocfilters==1.5.1
parso==0.8.5
passlib==1.7.4
pexpect==4.8.0
pfzy==0.3.4
pillow==11.3.0
platformdirs==4.4.0
ply==3.11
prometheus_client==0.22.1
prompt_toolkit==3.0.51
protobuf==5.29.5
psutil==5.9.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyautogen==0.10.0
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
pycurl==7.44.1
pydantic==2.11.9
pydantic-settings==2.11.0
pydantic_core==2.33.2
pyelftools==0.27
pyfiglet==1.0.4
Pygments==2.11.2
PyGObject==3.42.1
PyICU==2.8.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.4.2
PyOpenGL==3.1.5
pyparsing==2.4.7
pyparted==3.11.7
pyRFC3339==1.1
pysctp==0.7.2
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.1
python-gnupg==0.4.8
python-jose==3.5.0
python-json-logger==3.3.0
python-Levenshtein==0.12.2
python-magic==0.4.24
python-multipart==0.0.20
python-telegram-bot==22.4
python-xlib==0.29
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.3
pyzmq==27.0.2
ranger-fm==1.9.3
referencing==0.36.2
regex==2025.9.18
reportlab==3.6.8
requests==2.32.5
requests-file==1.5.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.27.1
rpm==4.17.0
rsa==4.9.1
scipy==1.8.0
SecretStorage==3.3.1
Send2Trash==1.8.3
setproctitle==1.2.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.3.1
SQLAlchemy==2.0.43
stack-data==0.6.3
starlette==0.48.0
sympy==1.9
systemd-python==234
tenacity==9.1.2
termcolor==3.1.0
terminado==0.18.1
tiktoken==0.12.0
tinycss2==1.1.1
tldextract==3.1.2
tomli==2.2.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trash-cli==0.17.1.14
ttystatus==0.38
types-python-dateutil==2.9.0.20250822
typing-inspection==0.4.1
typing_extensions==4.15.0
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
ulauncher==5.15.7
unicodedata2==14.0.0
Unidecode==1.3.3
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.37.0
uvloop==0.21.0
wadllib==1.3.6
watchfiles==1.1.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
wxPython==4.0.7
xdg==5
xkit==0.0.0
xlrd==1.2.0
youtube-dl==2021.12.17
zipp==3.23.0
zstandard==0.25.0
